main {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-data-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  display: flex;
  align-items: center;
}

.recipe-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-block,
.recipe-block-two {
  display: flex;
  flex-direction: column;
}

.recipe-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

  .main-container {
    width: 800px;
  }

  .recipe-block,
  .recipe-block-two {
    flex-direction: row;
    justify-content: space-evenly;
    width: 45%;
  }
}
