main {
  display: flex;
  justify-content: center;
}

header.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.result-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

p.instruction {
  margin-bottom: 25px;
}

div.recipe-card {
  display: flex;
  align-items: center;
}

div.recipe-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

  div.main-container {
    width: 800px;
  }
}
