main {
  display: flex;
  justify-content: center;
}

header.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.feature-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.result-data-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.recipe-card {
  display: flex;
  align-items: center;
}

div.recipe-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.recipe-block,
div.recipe-block-two {
  display: flex;
  flex-direction: column;
}

div.recipe-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

  div.main-container {
    width: 800px;
  }

  div.recipe-block,
  div.recipe-block-two {
    flex-direction: row;
    justify-content: space-evenly;
  }

  div.recipe-block div,
  div.recipe-block-two div {
    width: 45%;
  }
}
