header.navigation {
  background-color: #243a73;
  width: 100%;
  position: sticky;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
}

header.navigation > h3 {
  font-family:
    "Playfair Display",
    serif;
  font-weight: 500;
  font-size: 30px;
}

header.navigation > i {
  font-size: 24px;
  position: absolute;
  left: 25px;
  top: 25px;
}
